
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: statusbus
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  prisma-migrate:
    build:
      context: .
      dockerfile: Dockerfile.migrate
    command: ["bunx", "prisma", "migrate", "deploy", "--schema=./packages/store/prisma/schema.prisma"]
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/statusbus
    depends_on:
      - postgres

  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    ports:
      - "3001:3001"
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/statusbus
      - JWT_SECRET=${JWT_SECRET}
      - PORT=3001
      - HOST=0.0.0.0
    depends_on:
      prisma-migrate:
        condition: service_completed_successfully
    restart: unless-stopped

  fe:
    build:
      context: .
      dockerfile: apps/fe/Dockerfile
      args:
          - NEXT_PUBLIC_BACKEND_URL=http://127.0.0.1:3001
    ports:
      - "3000:3000"
    depends_on:
      - api
    restart: unless-stopped

  producer:
    build:
      context: .
      dockerfile: apps/producer/Dockerfile
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/statusbus
      - REDIS_URL=redis://redis:6379
    depends_on:
      prisma-migrate:
        condition: service_completed_successfully
      redis:
        condition: service_started
    restart: unless-stopped

  consumer:
    build:
      context: .
      dockerfile: apps/consumer/Dockerfile
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/statusbus
      - REDIS_URL=redis://redis:6379
      - REGION_ID=1
      - CONSUMER_ID=india-consumer-1
    depends_on:
      prisma-migrate:
        condition: service_completed_successfully
      redis:
        condition: service_started
    restart: unless-stopped

volumes:
  postgres_data:
  redis_data: