apiVersion: apps/v1
kind: Deployment
metadata:
  name: consumer-deployment
  labels:
    app: consumer
spec:
  replicas: 2
  selector:
    matchLabels:
      app: consumer
  template:
    metadata:
      labels:
        app: consumer
    spec:
      containers:
      - name: consumer
        image: 1ek8/statusbus-consumer:latest
        imagePullPolicy: Always
        env:
        - name: REDIS_URL
          valueFrom:
            secretKeyRef:
              name: statusbus-secrets
              key: redis-url
        - name: API_URL
          value: "http://api-service:3001"
        - name: REGION_ID
          value: "1"
        - name: CONSUMER_ID
          value: "india-consumer-1"
        resources:
          requests:
            memory: "256Mi"
            cpu: "350m"
          limits:
            memory: "768Mi"
            cpu: "500m"